.body {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  padding-bottom: 20px;
  margin-top: 50px;
}

.content {
  flex: 1 1 auto;
}

.sidebar {
  flex: 0 1 425px;
  margin-left: 25px;
  position: relative;
  z-index: 2;
}

.sticky {
  position: sticky;
  top: 20px;

  > div {
    margin-bottom: 30px;
  }
}

.imageBg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;

  img {
    position: absolute;
    bottom: 0;
    right: 10%;
  }
}

@media (max-width: 1000px) {
  .sidebar {
    max-width: 400px;
  }
}

@media (max-width: 900px) {
  .body {
    flex-wrap: wrap;
  }
  .sidebar {
    flex: 1 1 100%;
    max-width: none;
    order: -1;
    margin: 0;
  }
  .sticky {
    position: static;
  }
}
