.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px;

  h1 {
    font-size: 28px;
    font-weight: 700;
    margin-right: 10px;
  }
}
.title {
  color: #9f0013;
}

@media (max-width: 600px) {
  .body {
    padding: 25px 0px;
    h1 {
      font-size: 20px;
    }
  }
}

@media (max-width: 350px) {
  .body {
    h1 {
      span {
        display: none;
      }
    }
    .title {
      display: inline;
    }
  }
}
