.info {
  display: flex;
  margin-bottom: 15px;
}

.actions {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  button,
  a {
    margin-bottom: 10px;
    max-width: 101px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.image {
  margin-right: 25px;
}

.name {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: auto;
}

.desc {
  font-size: 14px;
}
