.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 57px;
  margin-bottom: 45px;
}

.btn {
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}
@media (max-width: 800px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .list {
    column-gap: 20px;
  }
}
