.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  p {
    font-weight: 700;
    font-size: 18px;
  }
}

.error {
  color: #9f0013;
}

.success {
  color: #03710e;
}
